Source: ros-indigo-urdfdom-py
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@google.com>
Build-Depends: debhelper (>= 7.0.50~), python-catkin-pkg, python-dev, ros-indigo-catkin
Homepage: http://wiki.ros.org/urdf
Standards-Version: 3.9.2

Package: ros-indigo-urdfdom-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dev, ros-indigo-catkin
Description: A library to access URDFs using the DOM model.
