Source: ros-hydro-urdfdom-py
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), python-dev
Homepage: http://ros.org/wiki/urdf
Standards-Version: 3.9.2

Package: ros-hydro-urdfdom-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dev, ros-hydro-catkin
Description: A library to access URDFs using the DOM model.
